<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 위까지 필요파일 -->
<configuration>
	<properties/>
	
	<settings>
		<setting name="cacheEnabled" value="true"/>
		<setting name="lazyLoadingEnabled" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.tour.app.dto.MemberDto" alias="MemberDto"/> 
		<typeAlias type="com.tour.app.dto.PostDto" alias="Post"/> 
		<typeAlias type="com.tour.app.dto.PostContentDto" alias="PostContent"/> 
		<typeAlias type="com.tour.app.dto.PostCommentDto" alias="PostComment"/> 
		<typeAlias type="com.tour.app.dto.SampleDto" alias="sampleDto"/> 
		<typeAlias type="com.tour.app.dto.FaqDto" alias="faqDto"/>
		<typeAlias type="com.tour.app.dto.CatDto" alias="catDto"/>
	</typeAliases>

</configuration>